// position
.relative-container
  position relative
  width 100%
  height 100%
.absolute-container
  position absolute
  top 0
  left 0
  width 100%
  height auto

// scroll
.scroll-y
  overflow-x hidden
  overflow-y scroll
.scroll-hidden
  overflow scroll
  visibility hidden
